.headerDiv {
    background-color: teal;
    color: white; 
    padding-top: 10px; 
    padding-bottom: 10px;
    text-align: center;
}

.textDiv {
    width: 100%;
}

.labelDiv {
    width: 49%;
    display: inline-block;
}

*{
    margin: 0;
    padding: 0;
}

.searchBar {
    margin: 0 auto;
    align-items: center;
}